
body {
    background-color: #111;
    color: #fff;
}

div.editor-wrapper {
    background-color: #111;
    position: absolute;
    top: 0px;
    height: 100%;
    width: 600px;
}

textarea.editor {
    height: 100%;
    width: 600px;
}

.CodeMirror-wrap {
    width: 100%;
    height: 100%;
}

#hydra-canvas {
    background-color: #000;
}

#hydra-canvas-wrapper {
    position: absolute;
    top: 0px;
    margin-left: 600px;
    width: 100%;
    height: 100%;
}
