
body {
    background-color: #111;
    color: #fff;
}

.wrapper, .wrapper > .CodeMirror, .wrapper > canvas {
    height: 100%;
    width: 100%;
}

.output-layout-wrapper, .output-layout-wrapper > .CodeMirror {
    background-color: #002;
    color: #fff;
}

.lm_content .canvas-wrapper, #hydra-canvas {
    background-color: #000;
}

li.template {
    display: none;
}

#hydra-canvas {
    border: 0;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}

.collapsible-header {
    padding: 0.25rem;
    border-bottom: 1px solid #666;
}

.collapsible-body {
    padding: 0.50rem;
}

.glslcode {
    white-space: pre;
    font-size: 0.75em;
    overflow-x: scroll;
    line-height: 1.1;
}

#help_functions_search {
    width: 100%
}

ul#help_functions {
    padding: 0;
    margin: 0;
}

ul#help_functions > li {
    padding: 0rem;
}

.white-text {
    color: fff;
}

.collapsible-header, .collapsible-header * {
    cursor: pointer;
}

.collapsible-body {
    display: none;
}

.input-list {
    padding-left: 20px;
}

#help_functions .glslcode {
    margin: 5px 0px;
    padding: 10px 5px;
    background-color: #333;
}
