
body {
    background-color: #111;
    color: #fff;
}

.lm_content .editor-layout-wrapper, .lm_content .editor-layout-wrapper > .CodeMirror {
    height: 100%;
    width: 100%;
}

.output-layout-wrapper, .output-layout-wrapper > .CodeMirror {
    background-color: #002;
    color: #fff;
}

.lm_content .canvas-wrapper, #hydra-canvas {
    background-color: #000;
    height: 100%;
    width: 100%;
}

#hydra-canvas {
    border: 0;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}
